[submodule "site/themes/forty"]
	path = site/themes/forty
	url = https://github.com/MarcusVirg/forty
[submodule "site/themes/hugo-coder"]
	path = site/themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
