.navbar {
  position: -webkit-sticky;
  position: sticky;
  z-index: 1000;
  top: 0;
  overflow: hidden;
  background-color: #652020;
  box-shadow: 0px 4px 8px 4px rgba(0,0,0,0.2), 0px 6px 20px 0 rgba(0,0,0,0.19);
  transition: background .1s ease-in;
}

.navbar a {
  float: left;
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #222;
}

.navbar .icon {
  display: none;
}

@media screen and (max-width: 768px) {
  .navbar a {display: none;}
  .navbar a:not(:first-child) {
    background-color: #222;
  }
  .navbar a:hover {
    background-color: #672020;
  }
  .navbar a.icon {
    float: right;
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .navbar.responsive {position: relative;}
  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.socialbar {
  text-align: center;
}

.socialbar ul {
  list-style-type: none;
  padding: 10px;
  overflow: hidden;
  background-color: #FFFFFF;
}

.socialbar li {
  display: inline-block;;
}

.socialbar li a {
}

@media only screen and (min-width: 768px) {
	[class*="socialbarr"] {
		
	}
}

.avatar-bay {
  padding: 0px 0px 2%;
  max-width: 30%;
  border-radius: 10px 10px 0px 0px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 4px 4px 8px 4px rgba(0,0,0,0.2), 0px 6px 20px 0 rgba(0,0,0,0.19);
  max-width: 80%;
}

.avatar-bay img {
  border-radius: 10px 10px 0px 0px;
  width: 100%;
  height: 100%;
}

.avatar-bay h1, .avatar-bay h2 {
  padding: 8px;
  text-align: center;
  color: #222;
}

@media only screen and (min-width: 768px) {
	[class*="avatar-bay"] {
		max-width: 40%;
	}
}
