body, head, header {
  background-color: #111;
  color: #888;

}

.navbar {
  position: -webkit-sticky;
  position: sticky;
  z-index: 1000;
  top: 0;
  overflow: hidden;
  background-color: #652020;
  box-shadow: 0px 4px 8px 4px rgba(0,0,0,0.2), 0px 6px 20px 0 rgba(0,0,0,0.19);
}

.navbar a {
  float: left;
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  transition: background .1s ease-in;
}

.navbar a:hover {
  background-color: #222;
}

.navbar .icon {
  display: none;
}
  

@media screen and (min-width: 768px) {
  .icon {
    display: none;
  }
  .closebtn {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #222;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
  }
  .navbar a {
    padding: 8px 8px 8px 32px;
    left: 25px;
    text-decoration: none;
    font-size: 25px;
    color: #888;
    display: block;
    width: 100%;
    transition: 0.3s;
  }
  .navbar a:hover {
    color: #672020;
  }
  .closebtn {
    display: ;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    font-size: 36px;
    opacity: 0;
  }
  .closebtn .load {
    display: none;
  }
  .icon {
    transition: .1s ease-in;
    position: absolute;
    left: 0;
    top: 0;
    color: #682020;
  }
}

.socialbar {
  text-align: center;
}

.socialbar ul {
  list-style-type: none;
  padding: 10px;
  overflow: hidden;
}

.socialbar li {
  display: inline-block;;
}

.socialbar li a {
  color: #888;
}

@media only screen and (min-width: 768px) {
	[class*="socialbarr"] {
		
	}
}

.avatar-bay {
  padding: 0px 0px 2%;
  max-width: 30%;
  border-radius: 10px 10px 0px 0px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 4px 4px 8px 4px rgba(0,0,0,0.2), 0px 6px 20px 0 rgba(0,0,0,0.19);
  max-width: 80%;
  background-color: #222;
}

.avatar-bay img {
  border-radius: 10px 10px 0px 0px;
  width: 100%;
  height: 100%;
}

.avatar-bay h1, .avatar-bay h2 {
  padding: 8px;
  text-align: center;
  color: #888;
}

@media only screen and (min-width: 768px) {
	[class*="avatar-bay"] {
		max-width: 40%;
	}
}
