.list-container {
  text-align: center;
}

.list-container li {
  border-radius: 10px 10px 10px 10px;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 8px;
  border-style: outset;
  text-decoration: none;
  background-color: #FFFFFF;
  color: black;
  transition: all .3s ease-in;
}

.list-container a {
  text-decoration: none;
}

.list-container img {
  float: left;
}

.list-container li:hover {
  background-color: #652020;
  color: white;
}
